@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #23292b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  color: #363545;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

button {
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
